html,body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}
body {
	background-color: #f5f6f7;
}
img {
	behavior: url(elements/iepngfix.htc)
}
.trans {
	behavior: url(elements/iepngfix.htc)
}
.menu_text, .menu_text a:active, .menu_text a:hover, .menu_text a:visited, .menu_text a:link {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.box_list, .box_list a:active, .box_list a:visited, .box_list a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E7EEF4;
	text-decoration: none;
}
.box_list a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E7EEF4;
	text-decoration: underline;
}
.main_title_org {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ff690b;	
}
.main_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.main_title_P {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.main_title_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
}
.main_big_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.box_text {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #CCCCCC; }
.main_cpr, .main_cpr a:active, .main_cpr a:visited, .main_cpr a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    text-decoration: none;
	color: #81807C;
}
.main_cpr a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    text-decoration: none;
	color: #ff690b;
}
.menu_down, .menu_down a:active, .menu_down a:hover, .menu_down a:visited, .menu_down a:link {
	font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
	font-size: 12px;
	color: #f8db8a;
	font-weight: bold;
}
.main_text, .main_text a:active, .main_text a:visited, .main_text a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #333333;
}
.main_text a:hover {
	color:#003399;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
}
.main_text_3, .main_text_3 a:active, .main_text_3 a:visited, .main_text_3 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
	text-decoration: none;
}
.main_text_3 a:hover {
    text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
}
.main_text_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
    text-decoration: none;
}
.main_text_2 a:link, .main_text_2 a:active, .main_text_2 a:visited {
    text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration: none;
	color:#003399;
}
.main_text_2 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration: underline;
	color:#003399;
}
.main_title a:active, .main_title a:visited, .main_title a:link {
	text-decoration: none;
	color: #333333;
}
.main_title a:hover {
	text-decoration: underline;
	color:#000066;
}
.bt_serv, .bt_serv a:active, .bt_serv a:visited, .bt_serv a:link{
	text-decoration: none;
	color:#003399;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.bt_serv a:hover {
	text-decoration: underline;
	color:#003399;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.bt_serv3, .bt_serv3 a:active, .bt_serv3 a:visited, .bt_serv3 a:link{
	text-decoration: none;
	color:#003399;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align:right;
}
.bt_serv3 a:hover {
	text-decoration: underline;
	color:#003399;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align:right;
}

.bt_serv_2, .bt_serv_2 a:link, .bt_serv_2 a:active, .bt_serv_2 a:visited {
	text-decoration: none;
	color:#CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.bt_serv_2 a:hover {
	text-decoration: underline;
	color:#CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;

}
.hide_est {color: #F5F6F7}
.GS_Frm{
padding-top:7px;
}
.GS_Box {
 border: 1px solid #7d7d7d;
 width: 175px;
 height: 14px;
 font-size:11px;
}
.SR_Box {
height:900px;
}
.Ch_Box_Title{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:30;
color:#5d1d2e;
}
.Ch_Box_Text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5d1d2e;
    text-decoration: none;
}
.Ch_Box_Text a:link, .Ch_Box_Text a:active, .Ch_Box_Text a:visited {
    text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration: none;
	color:#003399;
}
.Ch_Box_Text a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    text-decoration: underline;
	color:#003399;
}
.pos{
	position: relative;
	z-index:10;
}
.apDiv1 {
	position:absolute;
	left:203px;
	top:20px;
	width:214px;
	height:190px;
	z-index:101;
	overflow: visible;
	background-color: #CCCCCC;
	filter:alpha(opacity=87);
	visibility:hidden;
}
.pof_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	padding-top:20px;
	font-weight:bold;
}
.pof_title_sm, .pof_title_sm a:active, .pof_title_sm a:hover, .pof_title_sm a:visited, .pof_title_sm a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	padding-top:26px;
	text-decoration:none;
}
.img_sdw {
	background:url(elements/pf_sdw_fm_s.png);
	background-repeat:no-repeat;
}
.img_sdw_l {
	width:355px;
	height:280px;
	background:url(elements/pf_sdw_fm_l.png);
	background-repeat:no-repeat;
}